/* ? reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body{
    max-width: 600px;
    margin: 0 auto;
}

/* ? style header */
.header-img{
    text-align: center;
}

.logo-quisviluppo{
   font-size: 28px;
   display: flex;
   justify-content: center;
   margin-top: 30px;
   font-weight: bold;
}

.p-quisviluppo{
    margin-top: 10px;
}

.header-divider{
    margin-top: 25px;
    height: 10px;
    background-color: #FD8023;
}

/* ? main style welcome */
.text-main{
    text-align: center;
    font-size: 22px;
    margin-top: 30px;
    line-height: 160%;
}

.highlight-orange{
    color: #FD8023;
}

.container-banners{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* ? container blu */
.banner-blue-cont{
    margin-top: 40px;
    width: 300px;
    height: 150px;
    border: double 4px transparent;
    border-radius: 2rem;
    border: 6px solid rgba(45,175,230,1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-blue{
    width: 280px;
    height: 130px;
    background-color: white;
    border-radius: 1.5rem;
}

.par-banner-blue{
    font-size: 24px;
    text-align: center;
    padding-top: 20px;
    color: rgba(45,175,230,1);
}

/* ? container arancione */
.banner-orange-cont{
    margin-top: 30px;
    width: 300px;
    height: 150px;
    border: 6px solid #FD8023;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-orange{
    width: 280px;
    height: 130px;
    background-color: white;
    border-radius: 1.5rem;
}

.par-banner-orange{
    font-size: 24px;
    text-align: center;
    padding-top: 20px;
    color: #FD8023;
    padding-left: 30px;
    padding-right: 30px;
}

/* ? footer */

footer{
    text-align: center;
}

.par-carmen{
    font-weight: bold;
    font-size: 22px;
    margin-top: 50px;
}

.info-footer{
    margin-top: 30px;
    font-size: 20px;
    line-height: 160%;
}

.site{
    margin-top: 10px;
}

.vemaweb-info{
    font-size: 18px;
    line-height: 160%;
    margin-top: 40px;
}

.footer-divider{
    margin-top: 25px;
    height: 10px;
    background-color: #FD8023;;
}

@media screen and (min-width: 600px) {

    .banner-blue-cont{
        width: 500px;
        height: 110px;
    }
    
    .banner-blue{
        width: 480px;
        height: 90px;
    }


    .banner-orange-cont{
        width: 500px;
        height: 110px;
    }
    
    .banner-orange{
        width: 480px;
        height: 90px;
    }
    
    
    
}