/* ? reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body{
    max-width: 600px;
    margin: 0 auto;

}

/* ? style header */
.header-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-quisviluppo{
    width: 200px;
    margin-top: 20px;
}

.p-quisviluppo{
    margin-top: 10px;
}

.header-divider{
    margin-top: 25px;
    height: 10px;
    background: rgb(255,54,65);
    background: linear-gradient(270deg, rgba(255,54,65,1) 0%, rgba(255,203,29,1) 57%);
}


/* main style */
.highlight-orange{
    color: #FD8023;
}

.main-text{
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 160%;
    margin-top: 30px;
}

.container-banners{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.banner-blue-cont{
    margin-top: 40px;
    width: 320px;
    height: 620px;
    border: double 4px transparent;
     border-radius: 1.5rem;
    background: linear-gradient(61deg, rgba(118,11,255,1) 0%, rgba(45,175,230,1) 57%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-blue{
    width: 300px;
    height: 600px;
    background-color: white;
    border-radius: 20px;
    padding: 40px;
}

.par-banner-blue{
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
    font-weight: bold;
    background: linear-gradient(61deg, rgba(118,11,255,1) 0%, rgba(45,175,230,1) 57%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.appointment{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-appointment{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.text-card{
    text-align: center;
    font-size: 22px;
    margin-top: 30px;
    line-height: 160%;
}

.link{
    font-weight: bold;
}

.text-riepilogo{
    font-size: 22px;
    font-weight: bold;
}


/* ? footer */

footer{
    text-align: center;
}

.par-carmen{
    font-weight: bold;
    font-size: 22px;
    margin-top: 50px;
}

.info-footer{
    margin-top: 30px;
    font-size: 20px;
    line-height: 160%;
}

.site{
    margin-top: 10px;
}

.vemaweb-info{
    font-size: 18px;
    line-height: 160%;
    margin-top: 40px;
}

.footer-divider{
    margin-top: 25px;
    height: 10px;
    background: rgb(255,54,65);
    background: linear-gradient(270deg, rgba(255,54,65,1) 0%, rgba(255,203,29,1) 57%);
}

@media screen and (min-width: 600px) {
    .logo-quisviluppo{
        width: 300px;
        margin-top: 30px;
    }

    .banner-blue-cont{
        width: 600px;
        height: 340px;
    }
    
    .banner-blue{
        width: 580px;
        height: 320px;
    }
    
    
}