/* ? reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

/* ? style header */
.header-img{
    text-align: center;
}

.logo-quisviluppo{
    width: 300px;
    margin-top: 30px;
}

.p-quisviluppo{
    margin-top: 10px;
}

.header-divider{
    margin-top: 25px;
    height: 10px;
    background: rgb(255,54,65);
    background: linear-gradient(270deg, rgba(255,54,65,1) 0%, rgba(255,203,29,1) 57%);
}





/* ? footer */

footer{
    text-align: center;
}

.par-carmen{
    font-weight: bold;
    font-size: 22px;
    margin-top: 50px;
}

.info-footer{
    margin-top: 40px;
    font-size: 20px;
    line-height: 160%;
}

.site{
    margin-top: 10px;
}

.vemaweb-info{
    font-size: 18px;
    line-height: 160%;
    margin-top: 40px;
}

.footer-divider{
    margin-top: 25px;
    height: 10px;
    background: rgb(255,54,65);
    background: linear-gradient(270deg, rgba(255,54,65,1) 0%, rgba(255,203,29,1) 57%);
}