/* ? reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body{
    max-width: 600px;
    margin: 0 auto;
}


/* ? style header */
.header-img{
    text-align: center;
}

.logo-quisviluppo{
    width: 200px;
    margin-top: 20px;
}

.p-quisviluppo{
    margin-top: 10px;
    font-size: 16px;
}

.header-divider{
    margin-top: 25px;
    height: 10px;
    background: rgb(255,54,65);
    background: linear-gradient(270deg, rgba(255,54,65,1) 0%, rgba(255,203,29,1) 57%);
}

.highlight-orange{
    color: #FD8023;
}


/* ? main style */
.text-main{
    text-align: center;
    font-size: 18px;
    margin-top: 40px;
    line-height: 160%;
    font-weight: bold;
}

.main-subtext{
    font-size: 16px;
    text-align: center;
    margin-top: 40px;
    line-height: 160%;
}


/* card */
.card-position{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.card{
    border: 1px solid lightgray;
    width: 96%;
    height: 250px;
    border-radius: 20px;
    padding: 30px;
    box-shadow:  rgba(0,0,0,0.3) 0px 12px 29px 0px;;
}


.container-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
}

.iva{
    margin: 30px 0;
}

.total{
    margin-top: 30px;
}

.divider{
    height: 5px;
    background: linear-gradient(61deg, rgba(118,11,255,1) 0%, rgba(45,175,230,1) 57%);
}

.text{
    background: linear-gradient(61deg, rgba(118,11,255,1) 0%, rgba(45,175,230,1) 57%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}




/* ? container arancione */

.container-banners{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.banner-orange-cont{
    margin-top: 60px;
    width: 300px;
    height: 150px;
    border: double 4px transparent;
    border-radius: 2rem;
    background: linear-gradient(61deg, rgba(255,54,65,1) 0%, rgba(253,126,36,1) 57%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-orange{
    width: 280px;
    height: 130px;
    background-color: white;
    border-radius: 1.5rem;
}

.par-banner-orange{
    font-size: 22px;
    text-align: center;
    padding-top: 15px;
    color: #FD8023;
    padding-left: 30px;
    padding-right: 30px;
}


/* ? footer */

footer{
    text-align: center;
}

.par-carmen{
    font-weight: bold;
    font-size: 22px;
    margin-top: 50px;
}

.info-footer{
    margin-top: 30px;
    font-size: 20px;
    line-height: 160%;
}

.site{
    margin-top: 10px;
}

.vemaweb-info{
    font-size: 18px;
    line-height: 160%;
    margin-top: 40px;
}

.footer-divider{
    margin-top: 25px;
    height: 10px;
    background: rgb(255,54,65);
    background: linear-gradient(270deg, rgba(255,54,65,1) 0%, rgba(255,203,29,1) 57%);
}


/* media queries */
@media screen and (min-width: 600px) {
    .logo-quisviluppo{
        width: 300px;
        margin-top: 30px;
    }

    .p-quisviluppo{
        margin-top: 10px;
        font-size: 24px;
    }

    .main-subtext{
        font-size: 20px;
    }

    .text-main{
        font-size: 26px;
    }

    .banner-orange-cont{
        width: 530px;
        height: 110px;
    }


    .banner-orange{
        width: 510px;
        height: 90px;
    }

    .card{
        width: 96%;
        height: 300px;
    }

    .container-text{
        font-size: 25px;
    }

    .iva{
        margin-top: 50px;
        margin-bottom: 40px;
    }
    
    .total{
        margin-top: 30px;
    }
    

}